<html>
    <head>
        <title>Tallal Muhammad's blog</title>
    </head>
    <body>
        <p>Hi there!</p>
        <p>It works!</p>
    </body>
<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 26.05.2017, 2:19</p>
            <h2><a href="">My first post</a></h2>
            <p>There is only one thing to say and that is the fact that computers are always going to beat consoles.</p>
        </div>

        <div>
            <p>published: 26.05.2017, 2:19</p>
            <h2><a href="">My second post</a></h2>
            <p>in order to be happy in life you have to be at peace at all times.</p>
        </div>
    </body>
</html>
